extends layout.pug 
block content

    a.btn(href='/revcities') Lowest Population

    table
      tr
        th Name 
        th Country Code
        th Population
      
      each city in cities
        tr 
          td #{city.name}
          td #{city.countrycode}
          td #{city.population}