extends layout.pug
block content
    .header
        .title
            h1 Welcome to #{title}
            p Just a few more touches, just a few more buttons to program, just a few more sleepless nights
    h1.cardsTitle Why US
    .cards
        .card
            img(src="/img/earth.jpg", alt="image")
            h1 OUR SERVICES
                p Brain-storming, Brain-washing, Brain-teasing
        .card
            img(src="/img/earth.jpg", alt="image")
            h1 OUR STRENGTHS 
                p Biceps, Triceps, Stomach
        .card
            img(src="/img/earth.jpg", alt="image")
            h1 OUR TEAM
                p Nowres, Moses, Syed, Emil
                