<!DOCTYPE html>
html(lang="en")
    head
        title Demographica
        link(rel="stylesheet", href="css/main.css")
    body
        nav
            
            ul
                .logo
                    img(src="img/logo.png", alt = "image")
                
                li
                    a(href="/") Home
                li
                    a(href="/about") About
                li 
                    a(href="/reports") Reports
                li 
                    a(href="/country") Countries
                li 
                    a(href="/city") Cities
                li 
                    a(href="/language") Languages
                li.dropdown
                    a Account
                    .dropdown-content
                        a(href="/login") Login 
                        a(href="/register") Register 
                        a(href="/account") View Account
                    
        block content