extends layout.pug 
block content
            
        h1.cardsTitle About Us
            .cards
                .card
                    a(href="/countriesrep")
                        img(src="/img/countries.jpg", alt="image")
                        h1 COUNTRIES
                    
                .card
                    a(href="/citiesrep")
                        img(src="/img/cities.jpg", alt="image")
                        h1 CITIES
                    
                .card
                    a(href="/languagesrep")
                        img(src="/img/languages.jpg", alt="image")
                        h1 LANGUAGE
                    
        block content