extends layout.pug 
block content

    a.btn(href='/languagesrep') Reverse Order

    table
      tr
        th Language 
        th Percentage
      
      each countrylanguage in languages
        tr 
          td #{countrylanguage.language}
          td #{countrylanguage.totalpercentage}