extends layout.pug 
block content
    head
    title Search Page
    
    body
        #header
            h1 Nooble
        #search-box
            form(action="https://www.google.com/")
                input(type="text", placeholder="Search...")
                input(type="submit", value="Search")
        #links
            ul
                li
                    a(href="#") Gmail
                li
                    a(href="#") Images
                li
                    a(href="#") Maps
                li
                    a(href="#") YouTube
                li
                    a(href="#") News
                li
                    a(href="#") More
        #sign-in
            a(href="#") Sign in